body {
margin: 20px;
height: 100vh;  
background-color:rgb(71, 71, 165);
}

table { 
width: 25%;     
border-collapse:separate;
padding:0 0 0 110px ;
}

tr, td {
border: 1px solid hsl(102, 68%, 59%);
padding: 15px; 
display: flex;

}

aside {
flex-direction: column;
position: relative;
top: -400px;
left: 380px;
color:white;
}

h1 {
padding:0 130px 0 130px ;
color: white;
}

h2 {
padding:0 130px 0 130px ;
color: white;
}

button {
position: relative;
top: -390px;
left : 120px;
}

input {
position: relative;
top: -390px;
left : 140px;
}
